body {
    background: radial-gradient(#DEF9C4,#9CDBA6);
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #053e08;
    margin-bottom: 4px;
    
}

button {
    cursor: pointer;
    background: #053e08;
    color: white;
    padding: 10px 20px;
    border: 1px solid #053e08;
    font-weight: bold;
    box-shadow:
  1.7px 3.1px 1.9px -7px rgba(0, 0, 0, 0.15),
  5.3px 9.7px 5.8px -7px rgba(0, 0, 0, 0.17);
}

#delete-btn {
    cursor: pointer;
    background: white;
    color: #053e08;
    box-shadow:
  1.7px 3.1px 1.9px -7px rgba(0, 0, 0, 0.15),
  5.3px 9.7px 5.8px -7px rgba(0, 0, 0, 0.17);
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


